.container {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
}

.container > div {
  display: inline-block;
  /* border: 1px solid #EEE; */
	margin: 0 2px 15px;
  transition: .3s all ease;
  cursor: pointer;
}

.container > div:hover {
  transform: scale(1.05);
}


.container > div > img {
  width: 100%;
	/* border-bottom: 1px solid #ccc; */
	/* padding-bottom: 15px;
	margin-bottom: 5px; */
}


@media (max-width:600px){
  .container{
    column-count: 1;
  }
}

@media (min-width:601px){
  .container {
    column-count: 2;
  }
}

@media (min-width:768px){
  .container {
    column-count: 3;
  }
}
