.photoModal {
    display: block;
    /* min-width: 200px; */
    /* min-height: 200px; */
}

.photoModal > div > img {
    /* width: 120%; */
    max-height: 70vh;
    max-width: 80vw;
    
    /* max-width: 50vw; */

}

.photoModal > .photoModalInfo {
    display: flex;
    flex-direction: row;
}

.photoModal > .photoModalInfo > .photoInfo {
    flex-grow:1;
}

.photoModal > .photoModalInfo > .photoEditButton {
    margin-top: 16px;
}